.compromisso {
    padding-top: .5rem;  
}

.compromisso .container {
    max-width: 1200px; 
    margin: 0 auto; 
}

.compromisso .content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
    gap: 2rem; 

}

.compromisso .item {
    width: 48%; 
    text-align: center; 

}

.compromisso .item h3 {
    font-size: 2rem; 
    margin-bottom: 1rem; 
}

.compromisso .item img {
    width: 25%; 
    margin-bottom: 1rem; 
}
.compromisso .button-container{ 
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

