.home .slide {
  height: 90vh;
  display: flex;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  padding: 2rem 9%;
  margin-top: 1rem;
}

.home .slide .content {
  width: 60rem;
}

.home .slide .content span {
  font-size: 3rem;
  color: red;
  font-weight: 700;
  margin-left: 15rem;
  /* display: block; */
}

.home .slide .content h3 {
  font-size: 4rem;
  padding: 1rem 0;
 
}

.home .slide .content_serv p{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  color: red;
  font-weight: 700;
}
.home .slide .content_serv p:hover{
  background-color: #333;
  border-radius: .5rem;
  gap: 1rem;
}

